
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&family=Roboto:wght@100&display=swap');



h1{
    text-align: center;
	color: White;
	font-family: 'Oswald', sans-serif;
}

button{
    background-color:rgb(255, 115, 0);
    color: aliceblue;
}

div{
  display: flex;
  justify-content: center;
  padding : 5%;
}

.type{
	background-color: rgb(255, 115, 0);
	color: white;
	border: black 1px;
	border-radius: 20px;
	box-shadow: 5px 0px 25px 14px #2A3538;
	padding: 0.5%;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-bottom: 5%;
}

html{
	background: #ff0000;

}

#travail{
	margin-right: 100px;
}

#timer{
	margin: auto;
	width: 25px;
	border: solid white 5px;
	border-radius: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: x-large;
}

#text{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: white;
	width: 100px;
	font-family: 'Oswald', sans-serif;
	font-size: x-large;
}

.statut{
	border: 1px;
}

#start{
	padding: 15px;
	font-family: 'Oswald', sans-serif;
}

#reset{
	padding: 15px;
	font-family: 'Oswald', sans-serif;
}

#travail{
	background-color: lightblue;
}