
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&family=Roboto:wght@100&display=swap');


/*css for tags*/
h1{
    text-align: center;
	color: White;
	font-family: 'Oswald', sans-serif;
}

p{
	color: black;
	font-family: 'Oswald', sans-serif;
}

div{
  display: flex;
  justify-content: center;
  padding: 2%;
}

html{
	background: #ff0000;
}

/*css for class*/
.type{
	background-color: rgb(255, 115, 0);
	color: white;
	border: black 1px;
	border-radius: 20px;
	box-shadow: 5px 0px 25px 14px #2A3538;
	padding: 0.5%;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-bottom: 2%;
}

.statut{
	border: 1px;
}

#travail{
	margin-right: 100px;
}

/*css for identifier*/
#timer{
	margin: auto;
	width: 25px;
	height: 25px;
	border: solid white 5px;
	border-radius: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: x-large;
	padding : 5%;
}

#text{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: white;
	width: 100px;
	font-family: 'Oswald', sans-serif;
	font-size: x-large;
}

#start{
	font-family: 'Oswald', sans-serif;
	font-size: x-large;
	background-color:rgb(255, 115, 0);
    color: aliceblue;
}

#reset{
	font-family: 'Oswald', sans-serif;
	font-size: x-large;
	background-color:rgb(255, 115, 0);
    color: aliceblue;
}

#travail{
	background-color: lightblue;
}


#tpsTravail{
	height: fit-content;
}


